{% extends 'base.html.twig' %}

{% block title %}Product list{% endblock %}

{% block body %}
<style>
    .taskForm {
        display: none;
        border-style: solid;
        position: fixed;
        top: 30%;
        left: 30%;
    }
    .productTable {
        border-style: solid;
        border-width: thin;
    }
    .productTable td{
        border-style: solid;
        border-width: thin;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $(".taskSelect").change(function(){
            if(this.value){
                $(this).parent().find('.'+this.value+'Form').show();
            }
            else {
                $(".taskForm").hide();
            }
        });
        $(".closeTask").click(function(){
            $(this).parent().hide();
            $(this).parent().siblings('select:first').val('');
        })
    })
</script>

<div class="product-main">
        <table class="productTable">
            <thead>
            <tr>
                <th>SKU</th>
                <th>First Added At</th>
                <th>Last Updated At</th>
                <th>Quantity</th>
                <th>Change</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product['sku'] }}</td>
                    <td>{{ product['firstAddedAt'] }}</td>
                    <td>{{ product['lastUpdatedAt'] }}</td>
                    <td>{{ product['quantity'] }}</td>
                    <td>
                        <select class="taskSelect">
                            <option value=""></option>
                            <option value="receive">Receive Product</option>
                            <option value="ship">Ship Product</option>
                            <option value="adjust">Adjust Quantity</option>
                        </select>
                        <form style="display:none" class="taskForm receiveForm" method="post" action="/products/{{ product['sku'] }}/receive">
                            Receiving a product(change value for new product):<br/>
                            <input name="sku" value="{{ product['sku'] }}" type="text"/><br/>
                            How many are we receiving?<br/>
                            <input type="text" name="quantity"/><br/>
                            <input type="submit" value="submit"/>
                            <input type="button" value="close" class="closeTask">
                        </form>
                        <form style="display:none" class="taskForm shipForm" method="post" action="/products/{{ product['sku'] }}/ship">
                            Shipping a product "{{ product['sku'] }}"<br/>
                            How many do we ship?<br/>
                            <input type="text" name="quantity"/><br/>
                            <input type="submit" value="submit"/>
                            <input type="button" value="close" class="closeTask">
                        </form>
                        <form style="display:none" class="taskForm adjustForm" method="post" action="/products/{{ product['sku'] }}/adjust">
                            Adjusting a product "{{ product['sku'] }}":<br/>
                            How many we currently have?<br/>
                            <input type="text" name="quantity"/><br/>
                            What is the reason for change?<br/>
                            <input name="description" type="text"/><br/>
                            <input type="submit" value="submit"/>
                            <input type="button" value="close" class="closeTask">
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}
